*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

:root {
--Purple-100: hsl(254, 88%, 90%);
--Purple-500: hsl(256, 67%, 59%);
--Yellow-100: hsl(31, 66%, 93%);
--Yellow-500: hsl(39, 100%, 71%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 7%);
}

body {
    font-size: 1.125em;
    background-color: #f5f5f5;
    font-family: "DM Sans", serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    margin: 25px auto ;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding: 2em;
}



@media (min-width: 1024px) {
    
    .G-all {
        padding: .5em ;
        width: auto;
        border-radius: 10px;
        overflow: hidden;
    }

    /*
        grid-template-areas:  'G7 G1 G1 G4' 'G7 G1 G1 G4' 'G7 G2 G3 G4'   'G8 G6 G5 G5' ;*/
    
    #grid-container {
        margin: 25px auto ;
        
        display: grid;
        grid-template-areas:  'G7 G1 G1 G4' 'G7 G1 G1 G4' 'G7 G2 G3 G4'   'G8 G6 G5 G5'   ;
        gap: 30px ;
        width: 1100px;
        padding: 10px;
        border: 1px solid red;
    } 
    
    #G5-content  {
        display: flex;
        flex-direction: row;
    }

   /*
    #G7-content { 
        height: 400px;
    }
    
   */
    #G7-content h2 {
        font-size: 2.5em;
        line-height: 40px;
        margin-top: 1.2em;
        margin-bottom: .5em;
    }
    
    
    #G1-content #G-content-title{
        font-size: 3em;
        padding: .5em;
        height: 300px;
      }
      
      #sub-content img {
          width: 35%;
      }
    
      .grid-item4 {
        grid-area: G4;
        background-color: var(--Purple-100);
    }
    
    #G4-content {
        text-align: left;
    }
    
    #Schedule-tile {
        font-size: 2em;
        text-align: left;
    }
    
    #G4-content img {
        position: relative;
        right: -45px;
        margin: 1em 0;
        width: 100%;
        height: 240px;
    }
    
    .grid-item2 {
        grid-area: G2;
        background-color: var(--White);
    }
    
    #G2-content {
         font-size: 1.9em;
    }
    
    #Img-content img {
        max-width: 120%;
        position: relative;
        right: -37px;
    }
    
    /*
    .grid-item3 {
        height: 265px;
    }
    */
    
    #G3-content {
        padding: .7em .5em;
    }
    
    #G3-content  > img {
        position: relative;
        top: 15px;
        max-width: 98%;
    }
    
    #G3-title {
        font-size: 1.9em;
        line-height: 30px;
        margin-bottom: .4em;
    }
    
    
    #G8-content  {
        padding: 1.5em 1em;
      }
      
      #G8-content img {
          max-width: 100%;
      }
      
      #IA-txt {
          font-size: 2em;
          margin-bottom: 1.2em;
      }


      .grid-item5 {
        grid-area: G5;
    }

    #G5-content img {
        max-width: 45%;
    }
    
    #grow-title {
        text-align: left;
        font-size: 1.7em;
        padding: 1em 1em 0 1em ;
    
    }
    }
    
